<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | GB ASP.NET Course</title>

    @*@Html.Partial("Partial/_Styles")*@ <!-- VS says that it is better to use PartialAsync() or 'partial' tag -->
    <partial name="Partial/_Styles" />

    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <partial name="Partial/_Header" />

    @RenderBody()

    <partial name="Partial/_Footer" />

    <partial name="Partial/_Scripts" />

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
