@model string
@{
    ViewBag.Title = "web API value by id ";
}

<div class="container">
    <h3>@ViewBag.Title</h3>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Id</td>
                <td>@Model</td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-primary" style="width: 50%; margin: 10px 25%;">Back to list</a>
</div>
