@{ Layout = "_Layout"; }

<div class="container">
    <vc:bread-crumbs display-action-name="" />
    <div class="row">
        <div class="col-md-3">
            <partial name="Partial/_UsersMenu" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>