@{ ViewBag.Title = "Order is done"; }

<div class="container">
    <h3>@ViewBag.Title</h3>
    <br />
    <p>Order #@ViewBag.OrderId has been formed and sent for processing!</p>
    <br /><br /><br />
    <a asp-controller="Home" asp-action="Index">Home</a>
    <br />
</div>