@model IEnumerable<SectionViewModel>

<select required name="SectionId" class="form-control">@*"asp-for" option doesn't work, but "name" works... however, you must be very carefully with it!*@
    <option value="" disabled selected>Please select...</option>
    @foreach (var sect in Model)
    {
        <option value="@sect.Id">@sect.Name</option>
        @if (sect.ChildSections.Count > 0)
        {
            @foreach (var item in sect.ChildSections)
            {
                <option value="@item.Id">&nbsp;&mdash;&nbsp;@item.Name</option>
            }
        }
    }
</select>
